/* colour scheme */
/* 
#000000 black background
#5d7db8 blue
#8e89b2 purple
#bf96ac dull pink
#f0a3a7 pink
 */
 /* #container {
    min-height:100%;
    position:relative;

*/

.genre {
    border: 2px solid grey;
    color: grey;
    font-weight: 600;
    border-radius: 22px;
    padding-left: 20px;
    padding-right: 20px;
}

.genre:hover { 
    border: 2px solid #267055; 
    /* border-radius: 15px; */
    color:  #267055;
    /* font-weight: bold; */
    bottom: 3px;
    
    /* background-color: #f0a3a7; */
}

.footer-box {
    display: block;
    text-align: center;
    font-size: 0.75em;
    bottom:0;
    width: 100%;
    height: 30px;
    /* position: fixed; */
    background-color: #f0a3a7;
}

/* phone */
/* @media (max-width: 600px) {
    body {
      background-color: lightblue;
    }

} */

/* each book: base, top->norm, btm->desc */
.base {
    width: 33%;
    height: 200px;
    /* border: 2px dotted blueviolet; */
    margin: auto;
    position: relative;
    /* border: #8e89b2 dotted 2     px; */
}

.each-book {
    width: 90%;
    height: 160px;
    /* border: 2px solid #D3D3D3; */
    background-image: linear-gradient(rgb(70, 138, 107), rgb(71, 147, 190));
    margin: auto;
    position: absolute;
    border-radius: 5px;

    top: 0;
    right: 6%;
    /* background-color: #8e89b2; */
}

.each-desc {
    position: absolute;
    height: 155px;
    width: 88%;
    /* background-image: linear-gradient(#DAE8E3, #DAE9F0); */
    background-image: linear-gradient(#DAE9F0, #DAE8E3);
    background-color: #DAE8E3;
    /* border: #267055 solid 2px; */ 
    /* opacity: 80%; */
    border-radius: 5px;

    word-wrap: break-word;
    padding: 2%;
    font-size: 16px;

    bottom: 10px;
    left: 0;
}

.each-img {
    width: 30%;
    height: 100%;
    position: absolute ;
}

.main-details {
    background-color: white;
    /* background-image: linear-gradient(pink yellow); */
    opacity: 80%;

    position: absolute;
    right: 0px;
    height: 100%;
    width: 70%;
    word-wrap: break-word;

    padding: 10px;
    font-size: 18px;

}




/* colour scheme */
.bg-white {
    background-color: white;

}

.bg-blue {
    background-color: #5d7db8;
}

.bg-purple {
    background-color: #8e89b2;
}

.bg-dullpink {
    background-color: #bf96ac;
}

.bg-pink {
    background-color: #f0a3a7;
}

.text-black {
    color: #000000;
}

.text-white {
    color: white;
}

.text-blue {
    color: #5d7db8;
}

.text-purple {
    color: #8e89b2;
}

.text-dullpink {
    color: #bf96ac;
}

.text-pink {
    color: #f0a3a7;
}
