/* Selected Genre */
.select_genre {
    color: white;
}

/* Genre Tab Border */
.border.dark {
    border: 2px solid #267055; color:  #267055; 
}

/* Pagination Position */
#pagination {
    margin: auto;
    position: fixed;
    bottom: 10px;
    left: 20%;
    z-index: 1;
}

@media (min-width: 600px){
    #pagination{
        margin: auto;
        position: fixed;
        width: 50%;
        bottom: 10px;
        left: 25%;
        z-index:1;
    }
}

/* Pagination colors */
#pagination > button
{
    border-color: white;
    background-color: #0D3D54;
    color: white;
    width: 40px;
    text-align: center;
}

#pagination > button:hover
{
    color: white;
    background-color: #A94241;
    border-color: white;
}

#pagination > button.active
{
    color: white;
    background-color: #A94241;
    border: solid 1px white;
} 

.genre {
    border: 2px solid grey;
    color: grey;
    font-weight: 600;
    border-radius: 22px;
    padding-left: 20px;
    padding-right: 20px;
}

.genre:hover { 
    border: 2px solid #267055; 
    color:  #267055;
    bottom: 3px;
}

.footer-box {
    display: block;
    text-align: center;
    font-size: 0.75em;
    bottom:0;
    width: 100%;
    height: 30px;
    background-color: #f0a3a7;
}

/* each book: base, top->norm, btm->desc */
.base {
    width: 33%;
    height: 200px;
    margin: auto;
    position: relative;
}

.each-book{
    width: 90%;
    height: 160px;
    background-image: linear-gradient(rgb(70, 138, 107), rgb(162, 205, 230)); 
    margin: auto;
    position: absolute;
    border-radius: 5px;
    top: 0;
    right: 6%;
}

.each-desc {
    position: absolute;
    height: 155px;
    width: 88%;
    background-color: #ecd8bf;
    border-radius: 5px;
    word-wrap: break-word;
    padding: 4%;
    font-size: 16px;
    bottom: 10px;
    left: 0;
}

.each-img {
    width: 30%;
    height: 100%;
    position: absolute ;
}

.main-details {
    background-color: white;
    opacity: 80%;
    position: absolute;
    right: 0px;
    height: 100%;
    width: 70%;
    word-wrap: break-word;
    padding: 10px;
    font-size: 18px;
}

/* light mode: button */
.genre {
    border: 2px solid #0D3D54;
    color:  #0D3D54;
    font-weight: 600;
    border-radius: 22px;
    padding-left: 20px;
    padding-right: 20px;
}

.genre:hover { 
    border: 2px solid #A94241; 
    color:  #A94241;
    bottom: 3px;
}

/* button */
#glist > button.dark {
    border: 2px solid #B5C587;
    color: #B5C587;
    font-weight: 600;
    border-radius: 22px;
    padding-left: 20px;
    padding-right: 20px;
}

#glist > button.dark:hover { 
    border: 2px solid #267055; 
    color:  #267055;
    bottom: 3px;
}

/* footer */
footer{
    background-color: #6b7269;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer a{
    color: #B5C587;
}

footer a:hover{
    color: #B5C587;
}


