/* Pagination Position */
#pagination {
    margin: auto;
    position: fixed;
    bottom: 10px;
    left: 18%;
    z-index: 1;
}

@media (min-width: 600px){
    #pagination{
        margin: auto;
        position: fixed;
        width: 50%;
        bottom: 10px;
        left: 25%;
        z-index:1;
    }

}

/* Pagination colors */
#pagination > button
{
    border-color: white;
    background-color: #0D3D54;
    color: white;
    width: 40px;
    text-align: center;
}

#pagination > button:hover
{
    color: white;
    background-color: #A94241;
    border-color: white;
}

#pagination > button.active
{
    color: white;
    background-color: #A94241;
    border: solid 1px white;
} 

h2.dark{
    color: #B5C587;
}

@media (min-width: 600px){
    .base {
        width: 33%;
        height: 200px;
        margin: auto;
        position: relative;
    }

    .each-book {
        width: 90%;
        height: 160px;
        background-image: linear-gradient(rgb(70, 138, 107), rgb(162, 205, 230)); 
        margin: auto;
        position: absolute;
        border-radius: 5px;
        top: 0;
        right: 6%;
    }

    .each-desc {
        position: absolute;
        height: 155px;
        width: 88%;
        background-color: #ecd8bf;
        border-radius: 5px;
        word-wrap: break-word;
        padding: 2%;
        font-size: 16px;
        bottom: 10px;
        left: 0;
    }

    .each-img {
        width: 30%;
        height: 100%;
        position: absolute ;
    }

    .main-details {
        background-color: white;
        opacity: 80%;
        position: absolute;
        right: 0px;
        height: 100%;
        width: 70%;
        word-wrap: break-word;
        padding: 10px;
        font-size: 18px;

    }
}

a:hover{
    text-decoration: none;
}

footer{
    background-color: #6b7269;
    color: white;
    opacity: 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer a{
    color: #B5C587;
}

footer a:hover{
    color: #B5C587;
}
