#pagination {
    margin: auto;
    position: fixed;
    bottom: 120px;
    left: 4%;
    z-index: 1;
}


@media (min-width: 800px){
    #pagination{
        margin: auto;
        position: fixed;
        width: 50%;
        bottom: 10px;
        left: 25%;
        z-index:1;
    }
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #0D3D54;
    border-color: #0D3D54;
    color: white;
    cursor:pointer;
    z-index:2;
  }

/* #pagination > li{
    background-color: #0D3D54;
    color: white;
} */