#pagination {
    margin: auto;
    position: fixed;
    bottom: 10px;
    left: 20%;
    z-index: 1;
}


@media (min-width: 600px){
    #pagination{
        margin: auto;
        position: fixed;
        width: 50%;
        bottom: 10px;
        left: 25%;
        z-index:1;
    }

}

body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    color: #474E45;
}
