/* colour scheme */
/* 
#000000 black background
#5d7db8 blue
#8e89b2 purple
#bf96ac dull pink
#f0a3a7 pink
 */

.bg-black {
    background-color: #000000;
}

.bg-blue {
    background-color: #5d7db8;
}

.bg-purple {
    background-color: #8e89b2;
}

.bg-dullpink {
    background-color: #bf96ac;
}

.bg-pink {
    background-color: #f0a3a7;
}

.text-black {
    color: #000000;
}

.each-desc {
    position: absolute;
    height: 155px;
    width: 88%;
    /* background-image: linear-gradient(#DAE8E3, #DAE9F0); */
    background-image: linear-gradient(#CDB9A5, #CDB9A5);
    background-color: #d6c8b9;
    border: #aaaaaa solid 1.5px; 
    /* opacity: 80%; */
    border-radius: 5px;

    word-wrap: break-word;
    padding: 2%;
    font-size: 16px;

    bottom: 10px;
    left: 0;
}

.text-white {
    color: white;
}

.text-blue {
    color: #5d7db8;
}

.text-purple {
    color: #8e89b2;
}

.text-dullpink {
    color: #bf96ac;
}

.text-pink {
    color: #f0a3a7;
}

/* hover */
.link:hover {
    color: #f0a3a7;
}

/* dark version */
.base .dark{
    width: 90%;
    height: 160px;
    /* border: 2px solid #D3D3D3; */
    background-image: linear-gradient(rgb(42, 82, 64), rgb(41, 84, 109));
    margin: auto;
    position: absolute;
    border-radius: 5px;
}

h2.dark{
    color: #D5D3BF;
}


/* colour scheme */
.bg-white {
    background-color: white;

}

.bg-blue {
    background-color: #5d7db8;
}

.bg-purple {
    background-color: #8e89b2;
}

.bg-dullpink {
    background-color: #bf96ac;
}

.bg-pink {
    background-color: #f0a3a7;
}

.text-black {
    color: #000000;
}

.text-white {
    color: white;
}

.text-blue {
    color: #5d7db8;
}

.text-purple {
    color: #8e89b2;
}

.text-dullpink {
    color: #bf96ac;
}

.text-pink {
    color: #f0a3a7;
}
